{% extends 'default.html' %}

{% block title %} Новое объявление {% endblock title %}

{% block content %}
               <div class="card border-secondary mb-3" style="max-width: 20rem;">
                <div class="card-header">{{ art.name }}</div>
                 <div class="card-body">
                 <h4 class="card-title">{{ art.author }}</h4>
                 <h4 class="card-title">{{ art.category }}</h4>
                 <p class="card-text">{{ art.body|safe }}</p>
                </div>
            </div>
{% endblock content %}