{% extends 'default.html' %}

{% block title %} Article list {% endblock title %}

{% block content %}
<h2>Вы действительно хотите подтвердить этот отклик?</h2>
<div class="card border-secondary mb-3" style="max-width: 20rem;">
                <div class="card-header">{{ reply.article.name }}</div>
                 <div class="card-body">
                 <h4 class="card-title">{{ reply.user }}</h4>
                  <p class="card-text">{{ reply.text|safe }}</p>
                </div>
            </div>

<form method="post">
    {% csrf_token %}
    {{ form }}
    <div class="dropdown-divider"></div>
<input type="submit" value="Подтвердить"></form>

<a class="btn btn-primary" href="/replies">Вернуться к списку откликов</a> <br>

{% endblock content %}