{% extends 'default.html' %}

{% block title %}
Отклики на мои объявления
{% endblock title %}

{% block content %}
    Пользователь {{ user }}
    <form method="GET">
    {{ form }}
    <input type="submit" value="Найти">
    </form>
    {% if replies %}
        {% for reply in replies %}
            <div class="card border-secondary mb-3" style="max-width: 20rem;">
                <div class="card-header">{{ reply.article.name }} {{ reply.article.author }}</div>
                 <div class="card-body">
                 <h4 class="card-title">Автор отклика {{ reply.user }}</h4>
                  <p class="card-text">{{ reply.text|safe }}</p>
                </div>
                <form method="get" action="/reply/{{ reply.id }}/delete">
                     <button type="submit" class="btn btn-danger">Удалить отклик</button>
                </form>
                <form method="get" action="/reply/{{ reply.id }}/accept">
                     <button type="submit" class="btn btn-success">Принять отклик</button>
                </form>
            </div>
        {% endfor %}
    {% else %}
        <h2>Откликов нет!</h2>
    {% endif %}
{% endblock content %}
